@model TradeSatoshi.Common.User.UserBalancesModel
<div class="row">
	<div class="col-md-12">
		<div id="p1" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Balances</h3>
			</div>
			<div class="panel-body">
			

 

				<table id="table-balance" class="table">
					<thead>
						<tr>
							<th></th>
							<th>Currency</th>
							<th>Symbol</th>
							<th>Address</th>
							<th>Total</th>
							<th>Avaliable</th>
							<th>Unconfirmed</th>
							<th>HeldForTrades</th>
							<th>PendingWithdraw</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>

	$('#table-balance').dataTable({
		"order": [[0, "asc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": true,
		"searching": true,
		"scrollCollapse": false,
		"sPaginationType": "simple_numbers",
		"pageLength": "15",
		"sort": true,
		"paging": true,
		"info": true,
		"language": { "emptyTable": "No data avaliable." },
		"sAjaxSource": '@Url.Action("GetBalances")',
		"sServerMethod": "POST",
		"columnDefs": [{"targets": 0,"visible": false},
		{
			"targets": 3,
			"searchable": true,
			"orderable": true,
			"render": function (data, type, full, meta) {
				var currencyId = full[0];
				var address = data || '@Html.Resource("<- Click to Generate Address")';
				return '<div><button class="text-info btn btn-default btn-xs pull-left" onclick="createWithdraw(' + currencyId + ')">Withdraw</button><button title="@Html.Resource("Generate new address")" id="address-' + currencyId + '" onclick="generateAddress(' + currencyId + ')" class="text-info btn btn-default btn-xs pull-left" ><i class="fa fa-refresh"></i></button><div style="padding-left:5px" class="target  pull-left">' + address + '</div></div>';
			}
		}]
	});

	function generateAddress(currencyId) {
		var target = $('#address-' + currencyId);
		var targetCell = target.closest('td');
		target.attr('disabled', 'disabled');
		targetCell.addClass('info');
		postJson('@Url.Action("GetAddress")', { currencyId: currencyId }, function (data) {
			targetCell.removeClass('info');
			target.removeAttr('disabled');
			if (data.Success) {
				targetCell.find('.target').html(data.Message);
				return;
			}
			notifyModal('@Html.Resource("Generate Address Failed!")', data.Message);
		});
	}

	function createWithdraw(currencyId) {
		openModal('@Url.Action("Create", "Withdraw")', { currencyId: currencyId }, function (data) {
			getPartial('#balancesTarget', '@Url.Action("Balances", "User")');
		});
	}

</script>
