@model TradeSatoshi.Common.User.UserSettingsModel
@{
	ViewBag.Title = "User";
}



<div id="wrapper">

	@* LeftSidebar Content*@
	<div id="leftSidebar-wrapper" class="col-xs-3 col-sm-2">
		@{Html.RenderPartial("_TradeSidebarPartial");}
	</div>

	@* Main Content*@
	<div id="main-wrapper" class="col-xs-9 col-sm-10 col-md-10 col-lg-8">
		<div id="main">

			<div style="padding: 2px; padding-top: 5px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Account Settings</h3>
					</div>
					<div class="panel-body">
						<div class="row">

							<div class="col-xs-12">
								<ul class="nav nav-tabs">
									<li id="account-tab" class="@(ViewBag.Section == "Account" ? "active" : "")"><a href="#account" data-toggle="tab">Account</a></li>
									<li id="security-tab" class="@(ViewBag.Section == "Security" ? "active" : "")"><a href="#security" data-toggle="tab">Security</a></li>
									<li id="settings-tab" class="@(ViewBag.Section == "Settings" ? "active" : "")"><a href="#settings" data-toggle="tab">Settings</a></li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade @(ViewBag.Section == "Account" ? "active in" : "")" id="account">
										@{Html.RenderPartial("_ProfilePartial", Model.UserProfile);}
									</div>
									<div class="tab-pane fade @(ViewBag.Section == "Security" ? "active in" : "")" id="security">
										<div class="col-md-12">
											@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Enums.TwoFactorComponentType.Login });}
										</div>
										<div class="col-md-12">
											@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Enums.TwoFactorComponentType.Withdraw });}
										</div>
										<div class="col-md-12">
											@{ Html.RenderAction("GetTwoFactor", "TwoFactor", new { component = TradeSatoshi.Enums.TwoFactorComponentType.Transfer });}
										</div>
									</div>
									<div class="tab-pane fade @(ViewBag.Section == "Settings" ? "active in" : "")" id="settings">
										<div class="col-md-12">
											<div id="changePasswordTarget">
												@Html.Partial("_PasswordPartial", Model.SecurityModel)
											</div>
											<div id="apiSettingsTarget">
												@{Html.RenderAction("GetUserApiSettings");}
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div id="main-footer" class="main-footer">
				<span class="pull-right" style="padding-right: 5px; padding-top: 20px">© @DateTime.UtcNow.Year TradeSatoshi</span>
			</div>
		</div>
	</div>

	@* RightSidebar Content*@
	<div id="rightSidebar-wrapper" class="col-xs-2 hidden-xs hidden-sm hidden-md">
		@{Html.RenderPartial("_ChatSidebarPartial");}
	</div>
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/Project/chat.js")
	@Scripts.Render("~/Scripts/Project/User/user.js")
	@Scripts.Render("~/Scripts/Project/tradeSidebar.js")
}
