@using TradeSatoshi.Common.Security
@using TradeSatoshi.Web.Helpers;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
	<title>@Html.Resource("Tradesatoshi") - @ViewBag.Title</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="@Url.Action("Index", "Home")">
					<img style="padding-top: 10px" height="38" src="../../Content/Images/TradeSatoshi_Badge.png" alt="" />
				</a>
			</div>
			<div class="navbar-collapse collapse">
				@Html.Partial("_LoginPartial")
				<ul class="nav navbar-nav navbar-right">
					<li class="visible-xs visible-sm visible-md">@Html.ResourceActionLink("Chat", "Index", "Chat")</li>
					<li>@Html.ResourceActionLink("Market", "Index", "Exchange")</li>
					@if(User.Identity.IsAuthenticated)
					{
						<li>@Html.ResourceActionLink("Balance", "Index", "Balance")</li>
						<li>@Html.ResourceActionLink("History", "Index", "History")</li>
						<li>@Html.ResourceActionLink("Orders", "Index", "Orders")</li>
					}
					<li>@Html.ResourceActionLink("Status", "Index", "Status")</li>
					<li>@Html.ResourceActionLink("Vote", "Index", "Vote")</li>
					<li>@Html.ResourceActionLink("Api", "Api", "Home")</li>
					<li>@Html.ResourceActionLink("Support", "Index", "Support")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid body-content">
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/signalr/hubs")
	@Scripts.Render("~/Scripts/Project/site.js")
	@RenderSection("scripts", required: false)
</body>
</html>
