@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
	@Html.AntiForgeryToken()
	<ul class="nav navbar-nav navbar-right" style="margin-right:25px">
		<li>
			@Html.ResourceActionLink("Account", "Index", "User")
		</li>
		@if (User.IsInRole(TradeSatoshi.Common.Security.SecurityRole.Administrator, TradeSatoshi.Common.Security.SecurityRole.Moderator1, TradeSatoshi.Common.Security.SecurityRole.Moderator2))
		{
			<li>@Html.ResourceActionLink("Admin", "Index", "Admin")</li>
		}
		<li>
			<a href="#" onclick="$('#logoutForm').submit()">Log off</a>
		</li>
	</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right" style="margin-right:25px">
		<li>@Html.ResourceActionLink("Register", "Register", "Account")</li>
		<li>@Html.ResourceActionLink("Log in", "Login", "Account")</li>
	</ul>
}
