@model TradeSatoshi.Common.ITradeSidebarModel

<style>
	#table-tradepair, #table-balancemenu {
		cursor: pointer;
	}

		#table-tradepair > .tradepair-row.active,
		#table-balancemenu > .balance-row.active {
			background-color: #f5f5f5;
		}

		#table-tradepair > .tradepair-row:hover,
		#table-balancemenu > .balance-row:hover {
			background-color: #f5f5f5;
		}

		#table-tradepair > .tradepair-row.active:hover,
		#table-balancemenu > .balance-row.active:hover {
			background-color: #f5f5f5;
		}
</style>

<div class="leftSidebar-top-container">
	<div class="leftSidebar-body-wrapper panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Balances</h3>
		</div>
		<div class="header-container">
			<div class="col-xs-12 col-sm-6 col-md-4 nopad col-lg-6">
				<div class="text-xs-center text-sm-left">
					<b style="margin-left: 5px">Currency</b>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8 nopad col-lg-6 hidden-xs"><b>Avaliable</b></div>
		</div>
		<div class="leftSidebar-body">
			<div id="table-balancemenu" style="font-size: 12px">
				@foreach (var balance in Model.Balances)
				{
					<div class="col-xs-12 nopad balance-row" style="border-top: solid 1px #ddd; padding: 5px">
						<div class="col-xs-12 col-sm-12 col-md-4 nopad col-lg-6 nopad">
							<div class="text-xs-center text-sm-center text-md-left">
								@Helpers.CoinLogoWithSymbol(balance.Symbol)
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-8 nopad col-lg-6 nopad">
							<div class="text-xs-center text-sm-center text-md-left">
								<span>@balance.Avaliable.ToString("F8")</span>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div class="leftSidebar-bottom-container">
	<div class="leftSidebar-body-wrapper panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Markets</h3>
		</div>
		<div class="header-container">
			<div class="col-xs-12 col-sm-6 col-md-5 nopad col-lg-5">
				<div class="text-xs-center text-sm-left">
					<b style="margin-left: 5px">Market</b>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 nopad col-lg-5 hidden-xs"><b>Price</b></div>
		</div>
		<div class="leftSidebar-body">

			<div id="table-tradepair" style="font-size: 12px">
				@foreach (var tradePair in Model.TradePairs)
				{
				var textClass = (tradePair.Change > 0 ? "success" : tradePair.Change < 0 ? "danger" : "");
					<div class="col-xs-12 nopad tradepair-row" style="border-top: solid 1px #ddd; padding: 5px" data-action="@Url.Action("TradePair", new { tradepairId = tradePair.Id })" data-marketurl="@tradePair.MarketUrl()" data-externallink="@Url.Action("Index", "Exchange", new { market = tradePair.MarketUrl() })">
						<div class="col-xs-12 col-md-6 nopad col-lg-5 nopad">
							<div class="text-xs-center text-md-left">
								@Helpers.CoinLogoWithText(tradePair.Symbol(), tradePair.Name)
							</div>
						</div>
						<div class="col-xs-12 col-md-6 nopad col-lg-5 nopad">
							<div class="text-xs-center text-md-left">
								<span class="text-@textClass">@tradePair.LastTrade.ToString("F8")</span>
							</div>
						</div>
						<div class="col-md-1 nopad col-lg-2 visible-lg">
							<div>
								<span class="text-@textClass" >@tradePair.Change.ToString("F1")%</span>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
