@model TradeSatoshi.Common.Account.LoginViewModel

@{
	ViewBag.Title = Html.Resource("Log in");
}

<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@Html.Resource("Use a local account to log in.")</h4>
				<hr />
				<div class="row">
					<div class="col-md-7 ">
						@Html.ValidationSummary("", htmlAttributes: new { @class = "alert alert-danger text-center" })
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.UserName)
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Password)
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="@Html.Resource("Log in")" class="btn btn-default" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class=" text-center" style="max-width:280px">
							@Html.ResourceActionLink("Register", "Register") @Html.Resource("if you don't have an account.")
						</div>
						<div class=" text-center" style="max-width:280px">
							@Html.ResourceActionLink("Forgot your password?", "PasswordForgot")
						</div>
					</div>
				</div>
			}
		</section>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}