@using TradeSatoshi.Models;
@using Microsoft.AspNet.Identity;
@model TradeSatoshi.Models.ManageUserViewModel
@{
	ViewBag.Title = Html.Resource("Manage Account");
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
	<div class="col-xs-12">
		<p>@Html.Resource("You're logged in as ")<strong>@User.Identity.GetUserName()</strong>.</p>
	</div>

	<div class="col-md-6 col-lg-4">
		@Html.Partial("_ChangePasswordPartial")
	</div>
	<div class="col-md-6 col-lg-4">
		@Html.Partial("_ProfilePartial", Model.Profile)
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
