@model TradeSatoshi.Models.Account.PasswordResetModel

@{
	ViewBag.Title = Html.Resource("Reset Password");
}

<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			@using (Html.BeginForm("PasswordReset", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.SecureToken)
				<h4>@Html.Resource("Reset your login password.")</h4>
				<hr />
				<div class="row">
					<div class="col-md-7 ">
						@Html.ValidationSummary("", htmlAttributes: new { @class = "alert alert-danger text-center" })
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Email)
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Password)
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.ConfirmPassword)
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="@Html.Resource("Reset")" class="btn btn-default" />
					</div>
				</div>
			}
		</section>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}