@model TradeSatoshi.Common.Account.PasswordForgotModel

@{
	ViewBag.Title = Html.Resource("Log in");
}

<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			@using (Html.BeginForm("PasswordForgot", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@Html.Resource("Please enter your registered email address.")</h4>
				<hr />
				<div class="row">
					<div class="col-md-7 ">
						@Html.ValidationSummary("", htmlAttributes: new { @class = "alert alert-danger text-center" })
					</div>
				</div>
				<div class="form-group">
					@Html.ResourceLabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email)
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="@Html.Resource("Send Reset Email")" class="btn btn-default" />
					</div>
				</div>
			}
		</section>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}