@using hbehr.recaptcha
@model TradeSatoshi.Common.Account.RegisterViewModel
@{
	ViewBag.Title = Html.Resource("Register");
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>@Html.Resource("Create a new account.")</h4>
	<hr />
	<div class="row">
		<div class="col-md-7 ">
			@Html.ValidationSummary("", htmlAttributes: new { @class = "alert alert-danger text-center" })
		</div>
	</div>
	<div class="form-group">
		@Html.ResourceLabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.ResourceLabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.ResourceLabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.ResourceLabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.ResourceLabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.ResourceLabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.ResourceLabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-2">
		</div>
		<div class="col-md-10">
			@Html.CheckBoxFor(m => m.AcceptTerms, true)
			<small class="control-label">@Html.Resource("I agree to the ")<a href="/Terms">@Html.Resource("Terms & conditions")</a>.</small><br />
			@Html.ValidationMessageFor(model => model.AcceptTerms, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2">
		</div>
		<div class="col-md-10">
			@ReCaptcha.GetCaptcha()
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="@Html.Resource("Register")" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/jquery.datetimepicker.js")
	<script>
		$("#BirthDate").datetimepicker({
			format: "d/m/Y", startDate: "@DateTime.UtcNow"
		});
	</script>
}
