@model TradeSatoshi.Common.History.HistoryViewModel
@{
}

<div id="wrapper">

	@* LeftSidebar Content*@
	<div id="leftSidebar-wrapper" class="col-xs-3 col-sm-2">
		@{Html.RenderPartial("_TradeSidebarPartial");}
	</div>

	@* Main Content*@
	<div id="main-wrapper" class="col-xs-9 col-sm-10 col-md-10 col-lg-8">
		<div id="main">

			@* Page Content*@
			<div id="history-menu">
				@Html.DropDownList("CurrencyFilter", new SelectList(Model.Balances, "Symbol", "Symbol", Model.Currency), "All", new { @class = "form-control currencyFilter", data_action = Url.Action("Index", "History") })
				<div class="btn-group btn-group-justified menuOne">
					<a data-action="@Url.Action("Deposit", new { search = Model.Currency })" data-section="Deposit" class="btn btn-default section-option">Deposit</a>
					<a data-action="@Url.Action("Withdraw", new { search = Model.Currency })" data-section="Withdraw" class="btn btn-default section-option">Withdraw</a>
					<a data-action="@Url.Action("Transfers", new { search = Model.Currency })" data-section="Transfer" class="btn btn-default section-option">Transfer</a>
				</div>
				<div class="btn-group btn-group-justified menuTwo">
					<a data-action="@Url.Action("Trades", new { search = Model.Currency })" data-section="Trade" class="btn btn-default section-option">Trades</a>
				</div>
				<div id="historyTarget" data-currency="@Model.Currency" data-section="@Model.Section">
				</div>
			</div>

			@* Footer Content*@
			<div id="main-footer" class="main-footer">
				<span class="pull-right" style="padding-right: 5px; padding-top: 20px">© @DateTime.UtcNow.Year TradeAstoshi</span>
			</div>
		</div>
	</div>

	@* RightSidebar Content*@
	<div id="rightSidebar-wrapper" class="col-xs-2 hidden-xs hidden-sm hidden-md">
		@{Html.RenderPartial("_ChatSidebarPartial");}
	</div>
</div>


@section Scripts {
	@Scripts.Render("~/Scripts/Project/chat.js")
	@Scripts.Render("~/Scripts/Project/History/history.js")
	@Scripts.Render("~/Scripts/Project/tradeSidebar.js")
}