@model TradeSatoshi.Common.Admin.SiteStatusModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Site Status</h3>
			</div>
			<div class="panel-body">
				
				<div class="col-md-4">
					<table id="table-summary" class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>Stats</th>
								<th>Today</th>
								<th>Month</th>
								<th>Year</th>
								<th>All Time</th>
							</tr>
						</thead>
						<tbody>
						@foreach (var statistic in Model.Statistic)
						{
						<tr>
							<td>@statistic.Name</td>
							<td>@statistic.Today</td>
							<td>@statistic.Month</td>
							<td>@statistic.Year</td>
							<td>@statistic.AllTime</td>
						</tr>
						}
					</tbody>
				</table>
			</div>


				<div class="col-md-8">
					<table id="table-profit" class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th>Currency</th>
								<th>Balance</th>
								<th>Cold Storage</th>
								<th>Total Deposit</th>
								<th>Total Withdraw</th>
								<th>User Balance</th>
								<th>Liquid</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var statistic in Model.Profit)
							{
							<tr>
								<td>@statistic.Name</td>
								<td>@statistic.Balance</td>
								<td>@statistic.ColdBalance</td>
								<td>@statistic.TotalDeposit</td>
								<td>@statistic.TotalWithdraw</td>
								<td>@statistic.UserBalance</td>
								<td class="@(@statistic.Liquid >= 0 ? "text-success" : "text-danger")" >@statistic.Liquid</td>
							</tr>
							}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>


<script>
	$('#table-summary').dataTable({
		"order": [[0, "asc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": false,
		"searching": true,
		"scrollCollapse": false,
		"sort": false,
		"paging": false,
		"info": false,
		"language": { "emptyTable": "No data avaliable.", "search": "", searchPlaceholder: "Search" }
	});
	$('#table-profit').dataTable({
		"order": [[0, "asc"]],
		"lengthChange": false,
		"processing": true,
		"bServerSide": false,
		"searching": true,
		"scrollCollapse": false,
		"sort": true,
		"paging": false,
		"info": false,
		"language": { "emptyTable": "No data avaliable.", "search": "", searchPlaceholder: "Search" }
	});
</script>