@{
	ViewBag.Title = "Admin";
}

<div class="row row-top">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-pills-primary nav-stacked" id="tabcontrol-main" style="padding-top: 1px">
			<li>
				<a href="#tabcontrol-main-tab1" data-toggle="tab" data-div="#sitestatusTarget" data-action="@Url.Action("Status")">Status
					<i id="sitestatusTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab2" data-toggle="tab" data-div="#accountTarget" data-action="@Url.Action("Accounts")">Accounts
					<i id="accountTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab3" data-toggle="tab" data-div="#securityTarget" data-action="@Url.Action("Security")">Security 
					<i id="securityTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<a href="#tabcontrol-main-tab5" data-toggle="tab" data-div="#currencyTarget" data-action="@Url.Action("Currency")">Currency 
					<i id="currencyTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
				<li>
				<a href="#tabcontrol-main-tab6" data-toggle="tab" data-div="#tradepairTarget" data-action="@Url.Action("TradePair")">TradePair 
					<i id="tradepairTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<a href="#tabcontrol-main-tab10" data-toggle="tab" data-div="#depositTarget" data-action="@Url.Action("Deposits")">Deposits
					<i id="depositTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab11" data-toggle="tab" data-div="#withdrawTarget" data-action="@Url.Action("Withdrawals")">Withdrawals
					<i id="withdrawTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab12" data-toggle="tab" data-div="#tradeTarget" data-action="@Url.Action("Trades")">Trades
					<i id="tradeTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab13" data-toggle="tab" data-div="#tradeHistoryTarget" data-action="@Url.Action("TradeHistory")">Trade History
					<i id="tradeHistoryTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab14" data-toggle="tab" data-div="#transferTarget" data-action="@Url.Action("Transfers")">Transfer History
					<i id="transferTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<a href="#tabcontrol-main-tab19" data-toggle="tab" data-div="#supportTarget" data-action="@Url.Action("Support")">Support
					<i id="supportTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab20" data-toggle="tab" data-div="#statisticsTarget" data-action="@Url.Action("Statistics")">Statistics
					<i id="statisticsTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
			<li>
				<a href="#tabcontrol-main-tab21" data-toggle="tab" data-div="#votingTarget" data-action="@Url.Action("Voting")">Voting
					<i id="votingTarget-spin" class="fa fa-spinner fa-spin fa-spin-tab pull-right"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-10">
		<div class="tab-content">

			<!--Site Status -->
			<div class="tab-pane fade" id="tabcontrol-main-tab1">
				<div id="sitestatusTarget"></div>
			</div>

			<!--Account -->
			<div class="tab-pane fade" id="tabcontrol-main-tab2">
				<div id="accountTarget"></div>
			</div>

			<!--Security -->
			<div class="tab-pane fade" id="tabcontrol-main-tab3">
				<div id="securityTarget"></div>
			</div>

			<!--Currency -->
			<div class="tab-pane fade" id="tabcontrol-main-tab5">
				<div id="currencyTarget"></div>
			</div>

			<!--Tradepair -->
			<div class="tab-pane fade" id="tabcontrol-main-tab6">
				<div id="tradepairTarget"></div>
			</div>

			<!--Deposits -->
			<div class="tab-pane fade" id="tabcontrol-main-tab10">
				<div id="depositTarget"></div>
			</div>

			<!--Withdrawals -->
			<div class="tab-pane fade" id="tabcontrol-main-tab11">
				<div id="withdrawTarget"></div>
			</div>

			<!--Trades -->
			<div class="tab-pane fade" id="tabcontrol-main-tab12">
				<div id="tradeTarget"></div>
			</div>

			<!--TradeHistory -->
			<div class="tab-pane fade" id="tabcontrol-main-tab13">
				<div id="tradeHistoryTarget"></div>
			</div>

			<!--TransferHistory -->
			<div class="tab-pane fade" id="tabcontrol-main-tab14">
				<div id="transferTarget"></div>
			</div>

			<!--Support -->
			<div class="tab-pane fade" id="tabcontrol-main-tab19">
				<div id="supportTarget"></div>
			</div>

			<!--Statistics -->
			<div class="tab-pane fade" id="tabcontrol-main-tab20">
				<div id="statisticsTarget"></div>
			</div>

			<!--Voting -->
			<div class="tab-pane fade" id="tabcontrol-main-tab21">
				<div id="votingTarget"></div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/Scripts/Project/Admin/admin.js")
}
