@model TradeSatoshi.Common.Support.UpdateSupportCategoryModel
@{
	Layout = "~/Views/Shared/_Modal.cshtml";
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close simplemodal-close" aria-hidden="true" type="button" onclick="$.modal.close();">×</button>
			<h3 class="modal-title"><span class="symbol"></span>Update Support Category</h3>
			<small>Update an existing support category</small>
		</div>
		@using (Ajax.BeginForm("AdminUpdateCategory", "Support", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "simplemodal-data", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.Id)
			<div class="row">
				<div class="col-md-12">
					@Html.ValidationSummary(true, "", htmlAttributes: new { @class = "alert alert-danger text-center" })
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="col-md-12">
								@Html.LabelFor(m => m.Name, new { @class = "control-label" })
								@Html.TextBoxFor(m => m.Name, new { @class = " form-control form-control-fullwidth" })
								@Html.ValidationMessageFor(m => m.Name)
							</div>
						</div>
						<div class="checkbox">
							<label>
								@Html.CheckBoxFor(model => model.IsEnabled)
								@Html.Resource("Is Category enabled")
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-primary simplemodal-close" onclick="$.modal.close();">Cancel</button>
			</div>
		}
	</div>
</div>

@Scripts.Render("~/bundles/jqueryval")


