@model TradeSatoshi.Common.Trade.CreateTradeModel
@{
	var targetDiv = string.Format("createTrade-{0}", Model.TradeType);
	var sellSymbol = Model.TradeType == TradeType.Buy
		? Model.Symbol
		: Model.BaseSymbol;
	var buySymbol = Model.TradeType == TradeType.Buy
		? Model.BaseSymbol
		: Model.Symbol;
}

@using (Ajax.BeginForm("CreateTrade", "Exchange", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = targetDiv, InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" , style="padding:5px;"}))
{
	@Html.HiddenFor(m => m.TradeType);
	@Html.HiddenFor(m => m.TradePairId);
	@Html.HiddenFor(m => m.BaseSymbol);
	@Html.HiddenFor(m => m.Symbol);
	@Html.HiddenFor(m => m.MinTrade);
	@Html.HiddenFor(m => m.Fee);
	
	<table class="buySell-table-layout ">
		<tbody>
			<tr>
				<td class="row-title">
					<span>Amount</span>
				</td>
				<td>
					<div class="row-content">
						@Html.TextBoxFor(m => m.Amount, "{0:F8}", new { @class = "row-content-input", id = "amount-" + Model.TradeType })
						<div class="row-content-addon">@Model.Symbol</div>
					</div>
				</td>

			</tr>
			<tr>
				<td class="row-header">
					<span>Rate</span>
				</td>
				<td>
					<div class="row-content">
						@Html.TextBoxFor(m => m.Rate, "{0:F8}", new { @class = "row-content-input", id = "rate-" + Model.TradeType })
						<div class="row-content-addon">@Model.BaseSymbol</div>
					</div>
				</td>

			</tr>

			<tr>
				<td class="row-header">
					<span>Total</span>
				</td>
				<td>
					<div class="row-content">
						<span id="total-@Model.TradeType" class="row-content-input">0.00000000</span>
						<span class="row-content-addon">@Model.BaseSymbol</span>
					</div>
				</td>

			</tr>
			<tr>
				<td class="row-header">
					<span>
						<span>Fee </span>
						<small>
							<i>(@Model.Fee.ToString("F2")%)</i>
						</small>
					</span>
				</td>
				<td>
					<div class="row-content">
						<span id="fee-@Model.TradeType" class="row-content-input">0.00000000</span>
						<span class="row-content-addon">@Model.BaseSymbol</span>
					</div>

				</td>

			</tr>
			<tr>
				<td class="row-header">
					<span>Net</span>
				</td>
				<td>
					<div class="row-content">
						<span id="net-@Model.TradeType" class="row-content-input">0.00000000</span>
						<span class="row-content-addon">@Model.BaseSymbol</span>
					</div>

				</td>

			</tr>
		</tbody>
	</table>
	<hr class="seperator"/>
	if(User.Identity.IsAuthenticated)
	{
	<button id="submit-@Model.TradeType" type="submit" disabled="disabled" class="btn btn-info">@Model.TradeType @Model.Symbol</button>
	}
	else{
	<a class="btn btn-info" href="@Url.Action("Login", "Account", new{ReturnUrl = Url.Action("Index", "Exchange", new{market = string.Format("{0}_{1}", Model.Symbol, Model.BaseSymbol)})})">Login</a>
	}
}

<script>
	$(function () {
		$('#rate-@Model.TradeType, #amount-@Model.TradeType').on('change paste keyup', function () {
			var amount = $('#amount-@Model.TradeType').val();
			var price = $('#rate-@Model.TradeType').val();
			var tradefee = +'@Model.Fee';
			var minTrade = +'@Model.MinTrade';
			$('#submit-Buy, #submit-Sell').attr('disabled', 'disabled');
			if (!isNaN(amount) && !isNaN(price)) {
				var total = amount * price;
				var fee = (total / 100) * tradefee;
				var nettotal = total - fee;
				$('#total-@Model.TradeType').html(total.toFixed(8));
				$('#fee-@Model.TradeType').html(fee.toFixed(8));
				$('#net-@Model.TradeType').html(nettotal.toFixed(8));
				if (nettotal > minTrade) {
					$('#submit-Buy, #submit-Sell').removeAttr('disabled');
				}
			}
		});
	});
</script>
