@model TradeSatoshi.Common.Exchange.TradePairExchangeModel
@{

}
<style>
	.buysell-balance {
		padding-top: 2px;
		float: right;
		font-size: 12px;
		cursor: pointer;
	}


</style>

@*Chart*@
<div id="chart-container" class="col-xs-12 chart-container" data-action-chart="@Url.Action("GetTradePairChart", "Exchange", new { tradePairId = Model.TradePairId })" data-action-depth="@Url.Action("GetTradePairDepth", "Exchange", new { tradePairId = Model.TradePairId })" data-title="@string.Format("{0}/{1}", Model.Symbol, Model.BaseSymbol)" data-basesymbol="@Model.BaseSymbol" data-tradepairid="@Model.TradePairId" data-tradefee="@Model.BuyModel.Fee">
	<div class="panel panel-default" style="">
		<h4 class="chart-label pull-left">@Helpers.CoinLogoWithSymbol(Model.Symbol, 18) / @Helpers.CoinLogoWithSymbol(Model.BaseSymbol, 18)</h4>

		<div class="chart-option-group btn-group btn-group-xs pull-right">
			<button class="btn btn-default chart-option chart-option-chart active" data-type="chart">Chart</button>
			<button class="btn btn-default chart-option chart-option-depth" data-type="depth">Depth</button>
		</div>

		<div id="chartdata" class="chat-data">
		</div>
		<div id="depthdata" class="chat-data" style="display:none;">
		</div>
	</div>
</div>



@*Buy*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>Buy @Model.Symbol</span>
				<span class="buysell-balance">
					<span class="data-balance-buy data-balance-@Model.BaseSymbol">@Model.BaseBalance.ToString("F8")</span>
					<span>@Model.BaseSymbol</span>
				</span>
			</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Buy">
			@Html.Partial("_CreateTradePartial", Model.BuyModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Sell Orders</h3>
		</div>
		<div id="sellOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Sell">
			<table id="table-sellOrders-@Model.TradePairId" class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

	</div>
</div>

@*Sell*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>Sell @Model.Symbol</span>
				<span class="buysell-balance">
					<span class="data-balance-sell data-balance-@Model.Symbol">@Model.Balance.ToString("F8")</span>
					<span>@Model.Symbol</span>
				</span>
			</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Sell">
			@Html.Partial("_CreateTradePartial", Model.SellModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Buy Orders</h3>
		</div>
		<div id="buyOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Buy">
			<table id="table-buyOrders-@Model.TradePairId" class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

@*History*@
<div class="col-xs-12 col-lg-4 exchange-panel">
	<div class="panel panel-default exchange-historyPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Market History</h3>
		</div>
		<div id="tradehistory-host" data-action="@Url.Action("GetMarketHistory")" data-tradepair="@Model.TradePairId">
			<table id="table-tradehistory-@Model.TradePairId" class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Time</th>
						<th></th>
						<th>Rate</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

@Scripts.Render("~/Scripts/Project/Exchange/tradepairCharts.js")
@Scripts.Render("~/Scripts/Project/Exchange/tradepairPartial.js")

<script id="tradeHistoryTemplate" type="text/html">
	<tr class="odd {{type}} {{highlight}}" role="row" >
		<td>{{time}}</td>
		<td>{{typeText}}</td>
		<td>{{price}}</td>
		<td>{{amount}}</td>
	</tr>
</script>

<script id="orderTemplate" type="text/html">
	<tr class="odd {{highlight}}" role="row">
		<td>{{price}}</td>
		<td>{{amount}}</td>
		<td>{{total}}</td>
	</tr>
</script>
