@model TradeSatoshi.Common.Exchange.TradePairExchangeModel
@{
	var market = $"{Model.Symbol}_{Model.BaseSymbol}";
}
<style>
	.buysell-balance {
		padding-top: 2px;
		float: right;
		font-size: 12px;
		cursor: pointer;
	}
</style>

@*Chart*@
<div id="chart-container" class="col-xs-12 chart-container" data-action-chart="@Url.Action("GetTradePairChart", "Exchange", new { tradePairId = Model.TradePairId })" data-action-depth="@Url.Action("GetTradePairDepth", "Exchange", new { tradePairId = Model.TradePairId })" data-title="@string.Format("{0}/{1}", Model.Symbol, Model.BaseSymbol)" data-basesymbol="@Model.BaseSymbol" data-tradepairid="@Model.TradePairId" data-tradefee="@Model.BuyModel.Fee">
	<div class="panel panel-default" style="">
		<h4 class="chart-label pull-left">@Helpers.CoinLogoWithSymbol(Model.Symbol, 18) / @Helpers.CoinLogoWithSymbol(Model.BaseSymbol, 18)</h4>

		<div class="chart-option-group btn-group btn-group-xs pull-right">
			<button class="btn btn-default chart-option chart-option-chart active" data-type="chart">Chart</button>
			<button class="btn btn-default chart-option chart-option-depth" data-type="depth">Depth</button>
		</div>

		<div class="pull-right" style="padding-top:5px">
			<span style="margin-right:10px">Last: <span class="chart-last">0.00000000</span></span>
			<span style="margin-right:10px">High: <span class="chart-high">0.00000000</span></span>
			<span style="margin-right:10px">Low: <span class="chart-low">0.00000000</span></span>
		</div>

		<div id="chartdata" class="chat-data">
		</div>
		<div id="depthdata" class="chat-data" style="display:none;">
		</div>
	</div>
</div>



@*Buy*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>Buy @Model.Symbol</span>
				<span class="buysell-balance">
					<span class="data-balance-buy data-balance-@Model.BaseSymbol">@Model.BaseBalance.ToString("F8")</span>
					<span>@Model.BaseSymbol</span>
				</span>
			</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Buy">
			@Html.Partial("_CreateTradePartial", Model.BuyModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<span>Sell Orders</span>
			<span class="buysell-balance">
				<small>Total: </small>
				<span class="sum-sellorders">0.00000000</span>
				<span>@Model.Symbol</span>
			</span>
		</div>
		<div id="sellOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Sell">
			<table id="table-sellOrders-@Model.TradePairId" class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

	</div>
</div>

@*Sell*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel exchange-panel-sell">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span>Sell @Model.Symbol</span>
				<span class="buysell-balance">
					<span class="data-balance-sell data-balance-@Model.Symbol">@Model.Balance.ToString("F8")</span>
					<span>@Model.Symbol</span>
				</span>
			</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Sell">
			@Html.Partial("_CreateTradePartial", Model.SellModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<span>Buy Orders</span>
			<span class="buysell-balance">
				<small>Total: </small>
				<span class="sum-buyorders">0.00000000</span>
				<span>@Model.BaseSymbol</span>
			</span>
		</div>
		<div id="buyOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Buy">
			<table id="table-buyOrders-@Model.TradePairId" class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

@*History*@
<div class="col-xs-12 col-lg-4 exchange-panel">
	<div class="panel panel-default exchange-historyPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Market History</h3>
		</div>
		<div id="tradehistory-host" data-action="@Url.Action("GetMarketHistory")" data-tradepair="@Model.TradePairId">
			<table id="table-tradehistory-@Model.TradePairId" class="table table-condensed table-hover" style="font-size:12px">
				<thead>
					<tr>
						<th>Time</th>
						<th></th>
						<th>Price</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

@*OpenOrders*@
@if (User.Identity.IsAuthenticated)
{
<div class="row" style="padding:2px">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Open Orders</h3>
			</div>
			<div id="openorders-host" data-action="@Url.Action("GetOpenOrders")" data-tradepair="@Model.TradePairId" data-cancel="@Url.Action("CancelTrade")">
				<table id="table-openorders-@Model.TradePairId" class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>OrderId</th>
							<th>Time</th>
							<th>Type</th>
							<th>Price</th>
							<th>Amount</th>
							<th>Remaining</th>
							<th>Status</th>
							<th>
								<button class="btn btn-xs btn-danger pull-right" style="width:80px" onclick="cancelTradePairOrders('@market');">Cancel All</button>
							</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>
}


@Scripts.Render("~/Scripts/Project/Exchange/tradepairPartial.js")

