@model TradeSatoshi.Common.Exchange.TradePairExchangeModel

@*Chart*@
<div class="col-xs-12 chart-container">
	<div class="panel panel-default" style="">
		<h4 class="chart-label">@Helpers.CoinLogoWithSymbol(Model.Symbol,18) / @Helpers.CoinLogoWithSymbol(Model.BaseSymbol,18)</h4>
		<div id="chartdata" class="chat-data" data-action="@Url.Action("GetTradePairChart", "Exchange", new { tradePairId = Model.TradePairId })" data-title="@string.Format("{0}/{1}", Model.Symbol, Model.BaseSymbol)" data-basesymbol="@Model.BaseSymbol">
		</div>
	</div>
</div>

@*Sell*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">Sell @Model.Symbol</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Sell">
			@Html.Partial("_CreateTradePartial", Model.SellModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Buy Orders</h3>
		</div>
		<div id="buyOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Buy">
			<table id="table-buyOrders-@Model.TradePairId" class=" table table-condensed table-hover" >
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

@*Buy*@
<div class="col-xs-12 col-sm-6 col-lg-4 exchange-panel">
	<div class="panel panel-default nopad">
		<div class="panel-heading">
			<h3 class="panel-title">Buy @Model.Symbol</h3>
		</div>
		<div class="panel-body" id="createTrade-@TradeSatoshi.Enums.TradeType.Buy">
			@Html.Partial("_CreateTradePartial", Model.BuyModel)
		</div>
	</div>
	<div class="panel panel-default exchange-orderPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Sell Orders</h3>
		</div>
		<div id="sellOrders-host" data-action="@Url.Action("GetOrderBook")" data-tradepair="@Model.TradePairId" data-tradetype="@TradeSatoshi.Enums.TradeType.Sell">
			<table id="table-sellOrders-@Model.TradePairId" class="table table-condensed table-hover" >
				<thead>
					<tr>
						<th>Price</th>
						<th>@Model.Symbol</th>
						<th>@Model.BaseSymbol</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

	</div>
</div>

@*History*@
<div class="col-xs-12 col-lg-4 exchange-panel">
	<div class="panel panel-default exchange-historyPanel">
		<div class="panel-heading">
			<h3 class="panel-title">Market History</h3>
		</div>
		<div id="tradehistory-host" data-action="@Url.Action("GetMarketHistory")" data-tradepair="@Model.TradePairId" >
			<table id="table-tradehistory-@Model.TradePairId" class="table table-condensed table-hover" >
				<thead>
					<tr>
						<th>Time</th>
						<th></th>
						<th>Rate</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>


@Scripts.Render("~/Scripts/Project/Exchange/tradepairPartial.js")

